.top-brands-wrap{
    padding: 30px;
}
.top-brands-cover{
    height: 150px;
    width: 150px;
    border-radius: 10%;
    background-color: var(--primary-bg-color);
    box-shadow: var(--delivery-collection-item-shadow);
    border: 0.5px solid var(--whilte-color);
}
.top-brands-image{
    border-radius: inherit;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.top-brands-time{
    margin: 0px;
    position: relative;
    bottom: 1.2rem;
    left: 5.2rem;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(0.4rem);
    border-radius: 0.4rem;
    font-weight: 500;
    font-size: 1;
    line-height: 1.6rem;
    color: rgb(54, 54, 54);
    padding: 0.2rem 0.5rem 0.3rem; 
}