.filterItem{
    padding: 8px;
    display: flex;
    background-color: var(--primary-bg-color);
    color:var(--primary-gray-color);
    border: 1px solid var(--primary-gray-color);
    border-radius:8px;
    margin: 10px 10px 10px 0px;
    font-size: 14px;
}

.filterName{
    margin-left: 5px;
}