/* @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&family=RocknRoll+One&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=RocknRoll+One&display=swap');
@import "./style/commonStyle.css";
@import "./style/variable.css";
body {
  margin: 0;
  font-family: 'RocknRoll One', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: 'RocknRoll One', sans-serif;
}
